<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TweetZine</title>
    <style>
        body {
            background-color: rgba(200, 200, 200, 255);
            font-family: Arial, Helvetica, sans-serif;
            margin: 1.5rem;
        }

        .cards {
            margin: 0 auto;
            display: grid;
            grid-gap: 1.5rem;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            margin-top: 20px;
        }

        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #eeeeee;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        /* Add some padding inside the card container */
        .container {
            padding: 2px 16px;
        }

        .description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }

        a {
            color: inherit;
            text-decoration: non;
        }

        .related-links {
            margin-top: 20px;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <form method="GET" action="/">
        <input type="text" name="topic" placeholder="Enter a topic" required>
        <input type="submit">
    </form>
    <div class="related-links">
        Related Hashtags:
        <% for (let i=0; ((typeof hashTallyArr[i] != 'undefined') && i<7); i++) { %>
            <a href="/?topic=<%=hashTallyArr[i][0]%>">#<%=hashTallyArr[i][0]%></a>
        <% } %>
    </div>

    <!--Grid of recipes goes here...-->
    <div class="cards">
        <% for (const tweet of tweets) { %>
        <div class="card">
            <div class="container">
                <p><%=(new Date(tweet.created_at)).toLocaleString()%></p>
                <p><%=tweet.text%></p>
            </div>
            <img src="<%=tweet.image.url%>" alt="Tweet Cover Image" style="width:100%">
        </div>
        <% } %>
    </div>
</body>

</html>